<main>
    <section id="Inicio">
      <h1>Fundación axio</h1>
      <h2>Transformando sociedades a través de los valores</h2>
      <div class="contButons">
        <div class="conoce">
            <img src="" alt="">
            <button class="btnInicio">Conoce más</button>
        </div>
        <div class="unete">
            <img src="" alt="">
            <button class="btnInicio">Únete a nosotros</button>
        </div>
      </div>
    </section>

    <section id="Nosotros">
      <h3 class="titleBal">Sobre nosotros</h3>
      <div class="contCards">
        <div class="mision">
          <img src="" alt="">
          <div class="cardAbout">
              <h3>Misión</h3>
              <p>La misión de Fundación Axio es promover el desarrollo integral de individuos 
                  y organizaciones a través de programas de certificación, diagnósticos y formación 
                  en valores, fomentando una cultura de ética y responsabilidad social.</p>
          </div>
        </div>
        <div class="vision">
          <img src="" alt="">
          <div class="cardAbout">
              <h3>Visión</h3>
              <p>La visión de Fundación Axio es ser una entidad líder en la promoción de valores 
                  y ética, reconocida por su impacto positivo en la sociedad y su contribución al 
                  bienestar y crecimiento sostenible de comunidades y organizaciones.</p>
          </div>
        </div>
      </div>
    </section>

    <section id="Programas">
      <h3 class="titleBal">Programas y servicios</h3>

      <div class="cardProgram">
        <img src="" alt="">
        <h4>Certificaciones en Ética y Valores</h4>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
            Similique, eveniet in! Vitae asperiores quae adipisci laborum odit, 
            cumque deserunt laudantium a doloribus vel, nostrum, dignissimos nobis numquam dolor modi provident!</p>
      </div>
      <div class="cardProgram">
        <img src="" alt="">
        <h4> Diagnósticos Organizacionales</h4>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
            Similique, eveniet in! Vitae asperiores quae adipisci laborum odit, 
            cumque deserunt laudantium a doloribus vel, nostrum, dignissimos nobis numquam dolor modi provident!</p>
      </div>
      <div class="cardProgram">
        <img src="" alt="">
        <h4>Talleres y Cursos de Formación en Valores</h4>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
            Similique, eveniet in! Vitae asperiores quae adipisci laborum odit, 
            cumque deserunt laudantium a doloribus vel, nostrum, dignissimos nobis numquam dolor modi provident!</p>
      </div>
      <div class="cardProgram">
        <img src="" alt="">
        <h4>Iniciativas Educativas</h4>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
            Similique, eveniet in! Vitae asperiores quae adipisci laborum odit, 
            cumque deserunt laudantium a doloribus vel, nostrum, dignissimos nobis numquam dolor modi provident!</p>
      </div>

      <div class="info">
        <h4>App móvil Axio</h4>
        <img src="" alt="">
        <p>¡Descubre la app oficial de la Fundación Axio! 
            Promovemos el desarrollo integral a través de certificaciones, diagnósticos y formación en valores. 
            Únete a nuestra comunidad y fortalece tu compromiso con la ética y la responsabilidad social.</p>
      </div>
      <div class="info">
        <h4>Únete a Nuestra Comunidad</h4>
        <p>Con la app de Fundación Axio, tienes acceso a una plataforma integral que te apoya en tu camino hacia 
            el crecimiento personal y profesional. Ya sea que busques certificarte, mejorar tu organización o aprender 
            más sobre la ética y los valores, nuestra app está aquí para ayudarte.
            <br>Descarga la app de Fundación Axio hoy y comienza tu viaje hacia una cultura de ética y responsabilidad social.</p>
        <button class="btnApp">App AXIO</button>
      </div>
    </section>

    <section id="Certificaciones">
        <h3 class="titleBal">Testimonios</h3>
        <p>Contenido de la sección 4</p>
    </section>

    <section id="Contacto">
        <h3 class="titleBal">Contacto</h3>
        <p>Contenido de la sección 5</p>
    </section> 
</main>