<main>
    <section id="secInicio">
      <h1>Fundación axio</h1>
      <h3>Transformando sociedades a través de los valores</h3>
      <p>Contenido de la Sección 1</p>
    </section>

    <section id="secAbout">
      <h3>Sobre nosotros</h3>
      <div class="mision"></div>
      <div class="vision"></div>
    </section>

    <section id="secProgram">
      <h3>Programas y servicios</h3>
      <p>Contenido de la Sección 3</p>
    </section>

    <section id="secCertif">
        <h3></h3>
        <p>Testimonios</p>
    </section>

    <section id="secContact">
        <h3>Contacto</h3>
        <p>Contenido de la sección 5</p>
    </section> 
  </main>